{% extends 'base.html' %}

{% block content %}

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {% if error %}
      <small><span style="color: red;">{{ error }}</span></small>
    {% endif %}
    <div class="form-group">
      <!-- <label for="username" class="sr-only">User name</label> -->
      <input type="text" class="form-control" name="username" aria-describedby="userHelp" placeholder="Enter user name">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <br />
    <div class="form-group">
      <!-- <label for="password1" class="sr-only">Password</label> -->
      <input type="password" class="form-control" name="password1" placeholder="Enter password">
    </div>
    <br />
    <div class="form-group">
      <!-- <label for="password2" class="sr-only">Confirm Password</label> -->
      <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}