{% extends 'base.html' %}

{% block content %}

{% for product in products.all %}

<br /><br />
<div class="row">
    <div class="col-2">
        <a href="{% url 'detail' product.id %}">
            <img src="{{ product.image.url }}" class="img-fluid" width="128" height="128"/>
        </a>
    </div>
    <div class="col-6">
        <a href="{% url 'detail' product.id %}"><h3>{{ product.title }}</h3></a>
        <p>{{ product.summary }}</p>
    </div>
    <div class="col-4">
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-thumb-up"></span> Upvote {{ product.votes_total }}</button></a>
    </div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden" />
  </form>
{% endfor %}

{% endblock %}